﻿@model Prueba.Models.ViewsModels.DocumentoViewModel
@{
    ViewBag.Title = "Aplication MVC Maestro Detalle";
}

<h2>@ViewBag.Title</h2>

<div style="color:#4cff00">
    @ViewBag.Message
</div>
@using (Html.BeginForm("Add", "MaestroDetalle", FormMethod.Post))
{

    <div class="row ">
        <div class="form-group">
            @Html.LabelFor(d => d.Cedula)
            @Html.TextBoxFor(d => d.Cedula)
            @Html.LabelFor(d => d.Descripcion)
            @Html.TextBoxFor(d => d.Descripcion)
            @Html.LabelFor(d => d.Nombre)
            @Html.TextBoxFor(d => d.Nombre)
        </div>

    </div>


    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Codigo">Codigo</label>
                <input class="form-control" type="text" id="Codigo" />
            </div>
            <div class="form-group">
                <label for="NombreCuenta">Nombre Cuenta</label>
                <input class="form-control" type="text" id="NombreCuenta" />
            </div>
            <div class="form-group">
                <label for="Debito"> Debito</label>
                <input class="form-control" type="text" id="Debito" onclick="clearCredit()" />
            </div>
            <div class="form-group">
                <label for="Credito"> Credito</label>
                <input class="form-control" type="text" id="Credito" onclick="clearDebit()" />
            </div>

            <div class="form-group">
                <button class="btn btn-primary mt-5" onclick="create(); return false;">Agregar</button>
            </div>
        </div>
    </div>
    <div id="divConceptos">
        <table class="table" id="tablaConceptos">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre Cuenta</th>
                    <th>Debito</th>
                    <th>Credito</th>
                    
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div class="form-group mt-5">
        <input class="btn btn-primary" type="submit" value="Guardar" />
       
    </div>
  

   
    <script>
        var num = 0;

        function CreateTableCell(value) {
            const td = document.createElement('td');
            td.innerHTML = value;
            return td;

        }
        function CreateHiddenInput(name, value) {
            const input = document.createElement('input');
            input.name = name;
            input.value = value;
            input.type = 'hidden';

            return input;
        }
        function CreateRow(Codigo,nombreCuenta,Debito,Credito) {
        const tr = document.createElement('tr');
        const tdCodigo = CreateTableCell(Codigo);
        const tdNombreCuenta = CreateTableCell(nombreCuenta);
        const tdDebito = CreateTableCell(Debito);
        const tdCredito = CreateTableCell(Credito);

            tr.appendChild(tdCodigo);
            tr.appendChild(tdNombreCuenta);
            tr.appendChild(tdDebito);
            tr.appendChild(tdCredito);

            return tr;

        }
        function AddConceptos(Codigo, nombreCuenta, Debito, Credito) {

            const table = document.getElementById('tablaConceptos');
            const row = CreateRow(Codigo, nombreCuenta, Debito, Credito);
            table.appendChild(row);

        }
        function AddDivConceptos(Codigo, nombreCuenta, Debito, Credito) {
            const divConceptos = document.getElementById('divConceptos');
            const hiddenIndex = CreateHiddenInput("detalles.Index", num);
            const hiddenCodigo = CreateHiddenInput("detalles[" + num + "].Codigo", Codigo);
            const hiddenNombreCuenta = CreateHiddenInput("detalles[" + num + "].NombreCuenta", nombreCuenta);
            const hiddenDebito = CreateHiddenInput("detalles[" + num + "].Debito", Debito);
            const hiddenCredito = CreateHiddenInput("detalles[" + num + "].Credito", Credito);


            divConceptos.appendChild(hiddenIndex);
            divConceptos.appendChild(hiddenCodigo);
            divConceptos.appendChild(hiddenNombreCuenta);
            divConceptos.appendChild(hiddenDebito);
            divConceptos.appendChild(hiddenCredito);

           

        }

        function clearInputs() {
            document.getElementById('Codigo').value = '';
            document.getElementById('NombreCuenta').value = '';
            document.getElementById('Debito').value = '';
            document.getElementById('Credito').value = '';
        }

        function create() {
            const Codigo = document.getElementById('Codigo').value;
            const nombreCuenta = document.getElementById('NombreCuenta').value;
            const Debito = document.getElementById('Debito').value;
            const Credito = document.getElementById('Credito').value;

            AddConceptos(Codigo, nombreCuenta, Debito, Credito);
            AddDivConceptos(Codigo, nombreCuenta, Debito, Credito);
            clearInputs();
            num++;

           
            const debitInput = document.getElementById('Debito');
            const creditInput = document.getElementById('Credito');
            debitInput.disabled = false;
            creditInput.disabled = false;
        }
        function clearDebit() {
            const debitInput = document.getElementById('Debito');
            const creditInput = document.getElementById('Credito');
            debitInput.value = '0';
            debitInput.disabled = true;
            creditInput.value = '';
            creditInput.disabled = false;
        }

        function clearCredit() {
            const creditInput = document.getElementById('Credito');
            const debitInput = document.getElementById('Debito');
            creditInput.value = '0';
            creditInput.disabled = true;
            debitInput.value = '';
            debitInput.disabled = false;
        }
       

         

     


        
    </script>










}

